[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "*"
anyio = "*"
idna = "*"
pydantic = "*"
pydantic-core = "*"
sniffio = "*"
starlette = "*"
typing-extensions = "*"
pydantic-settings = "*"
fastapi-pagination = "*"
psycopg2 = "*"
loguru = "*"
greenlet = "*"
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn src.main:app --reload --host 0.0.0.0"
